<h1>Cookies</h1>

<div class="container">
    <div>
        <p>Nos partenaires et nous mêmes utilisons différentes technologies telles que les cookies afin de personnaliser les contenus et les publicités, proposer des foncitonnalités sur les réseaux sociaux et analyser le traffic. Merci de cliquer sur le bouton ci-dessouS pour donner votre accord. Vous pouvez changer d'avis et modifier vos choix à tout moment.</p>
    </div>
    <%= link_to 'Accepter les cookies', lose_path, class: "btn btn-success"%>
    <%= link_to 'En savoir plus', win_path %>
</div>

