<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-6">
            <div class="box-container">
                <h1>T'as rien écouté ...</h1>
                <iframe src="https://giphy.com/embed/l3vR3gvEdsdJl26oU" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>

