<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-6">
            <div class="box-container">
                <h1>T'as rien écouté ...</h1>
                <div class="video-wrapper">
                    <iframe src="https://giphy.com/embed/l3vR3gvEdsdJl26oU" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137057367-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137057367-1');
</script>
