<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-6">
            <div class="box-container more">
                <h1>En savoir plus</h1>
                <p>Nous utilisons les cookies afin de revendre vos données sur le darknet. Le but pour nous est de nous faire un maximum d’argent. Nous espérons que vous accepterez avec grand plaisir et sans même lire ce texte afin d’éviter que vous puissiez refuser. C’est d’ailleurs pour cela que nous avons mis le bouton “en savoir plus” en tout petit… Nous espérons aussi que vous remplirez le maximum de données personnelles et que vous allez lier votre compte avec vos réseaux sociaux pour que vos données coûtent le plus cher possible. Les cookies sont des données qui sont téléchargés ou stockés sur votre ordinateur ou sur tout autre appareil.</p>
                <div class="succes"><%= link_to 'Accepter les cookies', ctonchoix_path, class: "btn btn-success"%></div>
                <div class="succes"><%= link_to 'Refuser les cookies', win_path, class: "btn btn-danger"%></div>
            </div>
        </div>
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137057367-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137057367-1');
</script>


